## IMDB Database

### Dataset

In [143]:
url = 'https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv'
imdb_updates = pd.read_csv(url, encoding='latin1')
imdb_updaetes = imdb_updates.set_index('movie_ID')

,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,net_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
movie_ID,,,,,,,,,,,,,,,,,,,,,
1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,523505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,9404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,198130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,78530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,80249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,-8930592,...,1,903,29991,0,0,0,240396,2367,6.1,0
7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,66021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,5108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,32030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,-94780265,...,1,738,3244,1,17000,0,211765,546,6.7,0
11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,11051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,458672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,157197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,-143826840,...,1,627,26679,1,44000,0,202382,751,5.9,0
15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,502177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,104360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,134185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,24360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,68488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,202076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,2853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,2051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,-8549125,...,1,776,4482,1,10000,0,101178,283,6.3,0
24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,-74679997,...,1,988,27468,0,0,0,286095,974,6.6,0
25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,160034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,12351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,38756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,-88214518,...,1,919,19166,1,83000,0,381148,1106,7.0,0
29,Brave,93,1,2012,USA,English,PG,185000000,237282182,52282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,43806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,-2077789,...,1,618,3935,0,0,9,18271,150,4.4,0
3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,36121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,-19982851,...,1,18,708,0,0,9,12128,61,5.6,0
3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,-1929689,...,1,2000,13626,0,0,9,12706,75,5.3,0
3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,13064616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,12621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,18531390,...,1,498,2868,1,575,9,4345,26,5.6,0
3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,48383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,4659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,41573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,13277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,2828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,3331103,...,1,702,5963,1,352,10,4100,35,6.8,0
3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,76115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,-9215287,...,1,678,8094,0,0,11,56813,381,6.7,0
3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,19737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,18873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,15773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,58476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,1102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,-22556993,...,1,210,1500,0,0,12,24663,71,6.7,0
3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,9284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,24800000,...,1,14,669,0,0,14,40277,210,7.4,0
3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,-50707978,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,98614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,-1459475,...,1,307,23456,1,20000,15,66579,134,5.7,0
3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,11384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,-11111645,...,1,826,3177,0,0,19,7894,25,5.0,0
3780,The Master,144,1,2012,USA,English,R,32000000,16377274,-15622726,...,1,15,427,1,27000,31,105144,405,7.1,0
3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,24891374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

### Melihat Gambaran Dataset

In [144]:
imdb_updates.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [234]:
imdb_updates.describe()

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
count,3781.000000,3781.000000,3781.000000,3781.000000,3.781000e+03,3.781000e+03,3.781000e+03,3781.000000,3781.000000,3781.000000,...,3781.000000,3781.000000,3781.000000,3781.000000,3781.000000,3781.000000,3.781000e+03,3781.000000,3781.000000,3781.000000
mean,1891.000000,109.950278,0.967204,2003.081989,4.572770e+07,5.182002e+07,6.092318e+06,0.531870,0.828352,801.610685,...,0.992066,764.333774,11417.335625,0.539011,9264.147051,1.378736,1.039808e+05,331.862470,6.457339,0.041523
std,1091.625012,22.299267,0.178125,9.837954,2.252895e+08,7.003776e+07,2.291199e+08,0.499049,0.377124,3058.757162,...,0.088733,1885.768343,19071.218619,0.498542,21398.159089,2.044844,1.513586e+05,410.112422,1.056270,0.199524
min,1.000000,37.000000,0.000000,1927.000000,2.180000e+02,1.620000e+02,-1.221330e+10,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.200000e+01,1.000000,1.600000,0.000000
25%,946.000000,95.000000,1.000000,1999.000000,1.000000e+07,7.605668e+06,-1.043974e+07,0.000000,1.000000,10.000000,...,1.000000,191.000000,1889.000000,0.000000,0.000000,0.000000,1.831000e+04,105.000000,5.900000,0.000000
50%,1891.000000,106.000000,1.000000,2005.000000,2.500000e+07,2.896520e+07,1.161099e+06,1.000000,1.000000,61.000000,...,1.000000,433.000000,3969.000000,1.000000,217.000000,1.000000,5.250900e+04,207.000000,6.600000,0.000000
75%,2836.000000,120.000000,1.000000,2010.000000,5.000000e+07,6.600997e+07,2.507490e+07,1.000000,1.000000,234.000000,...,1.000000,690.000000,16179.000000,1.000000,11000.000000,2.000000,1.263570e+05,394.000000,7.200000,0.000000
max,3781.000000,325.000000,1.000000,2016.000000,1.221550e+10,7.605058e+08,5.235058e+08,1.000000,1.000000,23000.000000,...,1.000000,23000.000000,656730.000000,1.000000,349000.000000,43.000000,1.689764e+06,5060.000000,9.300000,1.000000

### Melihat dimensi dataset

In [145]:
imdb_updates.shape

(3781, 36)

### Melihat variabel kolom

In [102]:
imdb_updates.dtypes

movie_ID                       int64
movie_title                   object
duration                       int64
color                          int64
title_year                     int64
country                       object
language                      object
content_rating                object
budget_USD                     int64
gross_USD                      int64
net_USD                        int64
profitable                     int64
director_name                 object
director_top20?               object
director_facebook?             int64
director_facebook_likes        int64
actor_1_name                  object
actor_top20?                   int64
actor_1_facebook?              int64
actor_1_facebook_likes         int64
actor_2_name                  object
actor_top20?.1                 int64
actor_2_facebook?              int64
actor_2_facebook_likes         int64
actor_3_name                  object
actor_top20?.2                 int64
actor_3_facebook?              int64
actor_3_facebook_likes         int64
cast_total_facebook_likes      int64
movie_facebook?                int64
movie_facebook_likes;          int64
facenumber_in_poster           int64
num_voted_users                int64
num_user_for_reviews           int64
imdb_score                   float64
imdb_top_250                   int64
dtype: object

### 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [233]:
imdb2 = imdb_updates[['movie_title','net_USD','title_year']]
imdb2['title_year']=2013
imdb2 = imdb2.sort_values(by='net_USD', ascending=False)
imdb2.head()

C:\Users\tiorah064123\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                             movie_title    net_USD  title_year
0                                 Avatar  523505847        2013
14                        Jurassic World  502177271        2013
11                               Titanic  458672302        2013
2294  Star Wars: Episode IV - A New Hope  449935665        2013
1112          E.T. the Extra-Terrestrial  424449459        2013

### 2. What are the top 3 movies with highest nett profit in 2013?

In [152]:
imdb2 = imdb_updates[['movie_title','net_USD','title_year']]
imdb2 = imdb2.loc[imdb2['title_year'] == 2013]
imdb2_sort= imdb2.sort_values(by='net_USD', ascending=False)
imdb2_sort.iloc[0:3]

                          movie_title    net_USD  title_year
1614  The Hunger Games: Catching Fire  294645577        2013
236                   Despicable Me 2  292049635        2013
57                             Frozen  250736600        2013

### 3. What are the top 3 movies with highest gross profit in 2009?

In [153]:
imdb3 = imdb_updates[['movie_title','gross_USD','title_year']]
imdb3 = imdb3.loc[imdb3['title_year'] == 2009]
imdb3 = imdb3.sort_values(by='gross_USD', ascending=False)
imdb3.iloc[:3]

                                 movie_title  gross_USD  title_year
0                                     Avatar  760505847        2009
19       Transformers: Revenge of the Fallen  402076689        2009
3094  Harry Potter and the Half-Blood Prince  301956980        2009

### 4. How many non-english movies are in the dataset?

In [168]:
imdb4 = imdb_updates
len(imdb4.loc[imdb4['language'] != 'English'])

153

### 5. What are top 3 languages in the dataset aside English (based on number of movies)?

In [172]:
imdb5 = imdb_updates
imdb5 = imdb5.loc[imdb5['language'] != 'English']
imdb5["language"].value_counts().nlargest(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

### 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [185]:
imdb6 = imdb_updates[['movie_title','net_USD','country']]
imdb6_sum = imdb6.groupby('country').sum().sort_values('net_USD', ascending=False)
imdb6_sum.head(3)

               net_USD
country
USA        52003933174
UK          1531614524
Australia    252571616

### 7. What are the average budget of all movies in dataset in 2013?

In [193]:
imdb7 = imdb_updates[['title_year','budget_USD']]
imdb7 = imdb7.loc[imdb7['title_year'] == 2013]
imdb7['budget_USD'].mean()

51069610.77439024

### 8. What are the average budget of all movies in dataset in 2014?

In [220]:
imdb8 = imdb_updates[['title_year','budget_USD']]
imdb8 = imdb8.loc[imdb8['title_year'] == 2014]
imdb8['budget_USD'].mean()

49919006.62251656

### 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013?

In [222]:
imdb9 = imdb_updates[['title_year','budget_USD']]
imdb9_2013 = imdb9['title_year'] == 2013 
imdb9_2014 = imdb9['title_year'] == 2014
imdb_uye= df[imdb9_2013 | imdb9_2014]
imdb_avg = imdb_uye.groupby('title_year').mean()
imdb_avg = imdb_avg['budget_USD']
print(imdb_avg)

title_year
2013    5.106961e+07
2014    4.991901e+07
Name: budget_USD, dtype: float64

### 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [229]:
imdb10 = imdb_updates
imdb10 = imdb10.sort_values(by='net_USD', ascending=False)
imdb10[['movie_title','net_USD']].head(1)

  movie_title    net_USD
0      Avatar  523505847